---
const year = new Date().getFullYear();
---

<footer>
  <span>© {year} Rawdash. Apache 2.0 licensed.</span>
  <ul class="footer-links">
    <li><a href="/dashboards/">Dashboards</a></li>
    <li><a href="/integrations/">Integrations</a></li>
    <li><a href="/metrics/">Metrics</a></li>
    <li><a href="/compare/">Compare</a></li>
    <li><a href="/alternatives/">Alternatives</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/docs/getting-started/">Docs</a></li>
    <li><a href="https://github.com/rawdash/rawdash">GitHub</a></li>
    <li><a href="https://cloud.rawdash.dev">Cloud</a></li>
  </ul>
</footer>
