---
import {
  getPublishedProductHubs,
  hasPublishedSection,
} from '../../lib/content';

const year = new Date().getFullYear();
const productHubs = await getPublishedProductHubs();
const showBlog = await hasPublishedSection('blog');
---

<footer>
  <span>© {year} Rawdash. Apache 2.0 licensed.</span>
  <ul class="footer-links">
    {
      productHubs.map((hub) => (
        <li>
          <a href={hub.href}>{hub.label}</a>
        </li>
      ))
    }
    {showBlog && (
      <li>
        <a href="/blog/">Blog</a>
      </li>
    )}
    <li><a href="/docs/getting-started/">Docs</a></li>
    <li><a href="https://github.com/rawdash/rawdash">GitHub</a></li>
    <li><a href="https://cloud.rawdash.dev">Cloud</a></li>
  </ul>
</footer>
