---
import { getPublishedSections } from '../../lib/content';

const year = new Date().getFullYear();
const showBlog = (await getPublishedSections()).some(
  (section) => section.pageType === 'blog',
);
---

<footer>
  <span>© {year} Rawdash. Apache 2.0 licensed.</span>
  <ul class="footer-links">
    {showBlog && (
      <li>
        <a href="/blog/">Blog</a>
      </li>
    )}
    <li><a href="/docs/getting-started/">Docs</a></li>
    <li><a href="https://github.com/rawdash/rawdash">GitHub</a></li>
    <li><a href="https://cloud.rawdash.dev">Cloud</a></li>
  </ul>
</footer>
